.App {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

@media only screen and (min-width: 600px) {
  .Corner-Top-Left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .Corner-Top-Right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .Corner-Bottom-Left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Corner-Bottom-Right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (min-width: 600px) {
  .isBetter {
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
  }
}
@media only screen and (max-width: 600px) {
  .isBetter {
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
    min-height: 900px;
  }
}

@media only screen and (min-width: 600px) {
  .isNotBetter {
    background-image: linear-gradient(60deg, #973d3d 0%, #ad5b5b 100%);
  }
}
@media only screen and (max-width: 600px) {
  .isNotBetter {
    background-image: linear-gradient(60deg, #973d3d 0%, #ad5b5b 100%);
    min-height: 900px;
  }
}

@media only screen and (min-width: 600px) {
  .Current-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .Current-number {
    font-family: 'Fira Sans', sans-serif;
    font-size: calc(20rem);
    font-weight: 400;
  }
}
@media only screen and (max-width: 600px) {
  .Current-container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .Current-number {
    font-family: 'Fira Sans', sans-serif;
    font-size: calc(20rem/(2*1.618));
    font-weight: 400;
  }
}


.Evolution-container {
  height: 70px;
  width: 250px;
}

@media only screen and (min-width: 600px) {
  .Delta-container {
    color: white;
    opacity: 0.7;
    margin-top: 4.5rem;
    margin-right: 3rem;
    font-size: calc(20rem/(8*1.618));
    /* font-family: 'Fira Sans', sans-serif; */
  }
}

@media only screen and (max-width: 600px) {
  .Delta-container {
    color: white;
    opacity: 0.7;
    margin-top: 0rem;
    font-size: calc(20rem/(10*1.618));
    text-align: center;
    /* font-family: 'Fira Sans', sans-serif; */
  }
}

.Delta-icon {
}

.Delta-percentage {
  font-family: 'Fira Sans', sans-serif;
}

.Delta-legend {
}

@media only screen and (min-width: 600px) {
  .Legend-Container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2rem;
    font-size: calc(20rem/(8*1.618));
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
  }
}
@media only screen and (max-width: 600px) {
  .Legend-Container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2rem;
    font-size: calc(20rem/(10*1.618));
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
  }
}

@media only screen and (min-width: 600px) {
  .Today-container {
    margin-top: 2rem;
    margin-right: 3rem;
    opacity: 0.6;
  }
  .Today-date {
    font-size: calc(20rem/(6*1.618));
    color: white;
  }
}
@media only screen and (max-width: 600px) {
  .Today-container {
    margin-top: 1rem;
    opacity: 0.6;
    text-align: center;
  }
  .Today-date {
    font-size: calc(20rem/(8*1.618));
    color: white;
  }
}

@media only screen and (min-width: 600px) {
  .Title {
    font-size: calc(20rem/(3*1.618));
  }
}
@media only screen and (max-width: 600px) {
  .Title {
    font-size: calc(20rem/(7*1.618));
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.Loading {
  font-size: calc(20rem/(3*1.618));
}

.Countries-container {
  padding-left: 3rem;
  padding-top: 2rem;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: rgba(33, 33, 33, 0.1);
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
@media only screen and (min-width: 600px) {
  .select {
    position: relative;
    display: flex;
    width: 15em;
    height: 3em;
    line-height: 3;
    background-color: rgba(33, 33, 33, 0.1);
    overflow: hidden;
    border-radius: .25em;
    color: rgba(33, 33, 33, 0.7);
  }
}
@media only screen and (max-width: 600px) {
  .select {
    position: relative;
    display: flex;
    width: 90%;
    height: 3em;
    line-height: 3;
    background-color: rgba(33, 33, 33, 0.1);
    overflow: hidden;
    border-radius: .25em;
    color: rgba(33, 33, 33, 0.7);
  }
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #000;
  color: white;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: calc(20rem/(10*1.618));
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background-color: rgba(33, 33, 33, 0.1);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  /* color: #333333; */
  color: rgba(255, 255, 255, 0.9);
}
.select-item {
  color: black;
  font-size: 0.8rem;
}
